<body>
    <nav>
        <div class="container nav__container">
          <!-- Logo -->
          <a routerLink="/" class="logo">
            <h1>BrightSpark</h1>
          </a>
  
          <form role="search">
            <input
              type="search"
              placeholder="Search the site..."
              aria-label="Search through site content"
            />
            <button class="btn">Search</button>
          </form>

          <ul class="nav__menu">
            <li>
              <a routerLink="/home">Home</a>
            </li>
            <li>
              <a routerLink="/about">About</a>
            </li>
            <li>
              <a routerLink="/courses">Courses</a>
            </li>
            <li>
              <a routerLink="/contact">Contact</a>
            </li>
            <li>
              <a routerLink="/signin">Login</a>
            </li>
          </ul>
        </div>
      </nav>

    <section class="about__achievements">
        <div class="container about__achievments-container">
            <div class="about__achievements-left">
                <img src="../../assets/images/undraw_well_done_i2wr.svg" alt="">
            </div>
            <div class="about__achievements-right">
                <h1>Achievements</h1>
                <p>Discover success at our online school! Students excel with top scores, and our dedicated teachers earn awards. We're accredited for quality education.  Join a community that makes a positive impact. Explore and celebrate the achievements that make our school special!</p>
                <div class="achievements__cards">
                    <article class="achievement__card">    
                        <h2>250+</h2>
                        <h4>courses</h4>
                    </article>
                    <article class="achievement__card">
                        <h2>39,000+</h2>
                        <h4>Students</h4>
                    </article>
                    <article class="achievement__card">    
                        <h2>26</h2>
                        <h4>Awards</h4>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <!-- ABOUT - TEAM SECTION -->
    <section class="team">
        <h1>Meet Our Team</h1>
        <div class="container team__container">
            <!-- TM-1 -->
            <article class="team__member">
                <div class="team__member-image">
                   <img src="../../assets/images/teammates_images/darshi.png" width="350" height="400"> 
                </div>
                <div class="team__member-info">
                    <h4>Darshita Kalva</h4>
                </div>
            </article>

            <!-- TM-2 -->
            <article class="team__member">
                <div class="team__member-image">
                   <img src="../../assets/images/teammates_images/sravani.jpg" width="350" height="400"> 
                </div>
                <div class="team__member-info">
                    <h4>Sravani</h4>
                </div>
            </article>

            <!-- TM-3 -->
            <article class="team__member">
                <div class="team__member-image">
                   <img src="../../assets/images/teammates_images/navya.jpg" width="350" height="400"> 
                </div>
                <div class="team__member-info">
                    <h4>Navya</h4>
                </div>
            </article>

            <!-- TM-4 -->
            <article class="team__member">
                <div class="team__member-image">
                   <img src="../../assets/images/teammates_images/jeevana.jpg" width="350" height="400"> 
                </div>
                <div class="team__member-info">
                    <h4>Jeevana</h4>
                </div>
            </article>
        </div>
    </section>

    <footer>
        <div class="container footer__container">
          <div class="footer__col">
            <h3>Community</h3>
            <ul class="footer__list">
              <li class="footer__list-item">
                <a href="#">Learners</a>
              </li>
  
              <li class="footer__list-item">
                <a href="#">Partners</a>
              </li>
  
              <li class="footer__list-item">
                <a href="#">Developers</a>
              </li>
  
              <li class="footer__list-item">
                <a href="#"> Teaching Center</a>
              </li>
            </ul>
          </div>
  
          <div class="footer__col">
            <h3>Privacy</h3>
            <ul class="footer__list">
              <li class="footer__list-item">
                <a href="./privacy_policy.html">Privacy Policy</a>
              </li>
  
              <li class="footer__list-item">
                <a href="./terms_and_conditions.html"> Terms and Conditions</a>
              </li>
            </ul>
          </div>
  
          <div class="footer__col footer__col-last">
            <h3>Download App</h3>
            <a href="#"><img src="../../assets/images/App_Store_(iOS)-Badge-Logo.wine.png" alt="" /></a>
            <a href="#"><img src="../../assets/images/google-play-badge.png" alt="" /></a>
            <img class="certified-badge" src="../../assets/images/Certified_Badge.png" alt="" />
          </div>
        </div>

        <div class="container copywright__container">
           <small> © 2023 BrightSpark Inc. All rights reserved.</small> 
        </div>
    </footer>
</body>
